* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /*   font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif; */
}

body::-webkit-scrollbar {
  width: 10px; /* Tamaño del scroll en vertical */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: rgb(241, 8, 8);
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #f00c0c;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: #fffbfb;
  border-radius: 4px;
}

a {
  display: inline-block;
  text-decoration: none;
}

header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 110px;
}

header .container nav a {
  color: rgb(255, 3, 3);
  text-decoration: none;
  margin: 0 15px;
}

header .container .hamburguesa {
  display: none;
}

header .container nav a:hover {
  color: black;
}

p {
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding-top: 40px;
  height: 280px;
}

footer .barra-footer {
  background-color: gray;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  margin-top: 50px;
}

footer ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer a {
  color: white;
}

footer .logo-footer {
  width: 60%;
  margin-left: -140px;
}

footer .redes {
  font-size: 30px;
  display: flex;
}

footer .redes a {
  margin: 0 17.5px;
}

.boton {
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.boton.boton-rojo {
  color: white;
  background-color: red;
  font-weight: 800;
  font-size: 1em;
}

.boton.boton-blanco {
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: 0.9em;
  border: 1px solid red;
}

.boton.boton-negro {
  color: white;
  background-color: black;
  font-size: 0.9em;
}

.boton.boton-negro:hover {
  color: red;
  background-color: white;
  font-size: 0.9em;
  font-weight: bold;
}

.seccion {
  padding-top: 60px;
  padding-bottom: 60px;
}

.seccion.seccion-mobile {
  margin-top: -50px;
}

.cuadrado-perfecto {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.cuadrado-perfecto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.columna {
  padding-right: 15px;
  padding-left: 15px;
}

.columna-33 {
  width: 33.33%;
}

.columna-25 {
  width: 33%;
}

.columna-50 {
  width: 50%;
}

.empujar-50 {
  margin-left: 50%;
}

.empujar-0 {
  margin-left: 0;
}

#inicio {
  position: relative;
}

#inicio img {
  width: 100%;
  display: block;
}

#inicio .bloque-inicio {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 850px;
  text-align: center;
  margin-left: -200px;
}

#inicio .bloque-inicio h1 {
  color: white;
  font-size: 2.5em;
}

#inicio .bloque-inicio p {
  color: white;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
}

#nosotros {
  background-image: url(../img/taras-chernus-MTTrsZIWDgw-unsplash.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

#nosotros p {
  color: white;
  text-align: center;
  font-size: 1em;
}

#servicios .bloque-servicio {
  border: solid 0.5px rgb(94, 9, 9);
}

#servicios .bloque-servicio .bloque-img-servicio img {
  width: 100%;
}

#servicios .bloque-servicio .bloque-img-servicio .cuadrado-perfecto {
  padding-bottom: 56.25%;
}

#servicios .bloque-servicio .bloque-contenido-servicio {
  text-align: center;
  padding: 15px;
}

#servicios .bloque-servicio .bloque-contenido-servicio h3 {
  margin-top: 0;
  font-size: 1.5em;
}

#servicios .bloque-servicio .bloque-contenido-servicio p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}

#galeria h4 {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  position: absolute;
  top: 40%;
  color: white;
  font-size: 18px;
  width: 100%;
}

#galeria img {
  filter: grayscale(1);
}

#galeria .cuadrado-perfecto:hover img {
  filter: grayscale(0);
}

#contactenos {
  position: relative;
  padding-bottom: 400px;
}

#contactenos iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  body {
    font-size: 15px;
     margin: 0 auto;
  }

  header .container nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    transform: translateX(100%);
  }

  header .container nav a {
    font-size: 30px;
    margin: 15px 0;
  }
  header .container .hamburguesa {
    display: block;
    font-size: 26px;
    color: #f00c0c;
    margin: 0 auto;
    margin-left: 50%;
  }

  .container {
    width: 100%;
  }

  .columna-mobile-100 {
    width: 100%;
  }

  .columna-mobile-50 {
    width: 50%;
  }

  #inicio {
    height: 100vh;
  }

  #inicio img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #inicio .bloque-inicio {
    width: 140%;
    font-size: 0.7em;
    margin-top: 30%;
  }

  #inicio .bloque-inicio p {
    width: 60%;
    margin-left: 18%;
  }

  #servicios .bloque-servicio {
    margin-bottom: 15px;
  }

  #contactenos {
    padding: 0;
  }
  #contactenos iframe {
    position: relative;
    height: 40vh;
  }

  footer .logo-footer {
    width: 50%;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  footer {
    text-align: center;
    font-size: 1em;
    height: 70vh;
  }

  footer .redes {
    justify-content: center;
  }
}
